<div>
    <label id="firstNameLabel" for="firstName">First Name:</label>
    <input type="text" id="firstName" placeholder="Jane" [(ngModel)]="firstName"/>
</div>
<div>
    <label id="lastNameLabel" for="firstName">Last Name:</label>
    <input type="text" id="lastName" placeholder="Doe" [(ngModel)]="lastName"/>
</div>
<div>
    <label id="userEmailLabel" for="userEmail">User Email:</label>
    <input type="text" id="userEmail" placeholder="sampleemail@sample.com" [(ngModel)]="userEmail"/>
</div>
<div>
    <label id="userPwdLabel" for="userPwd">Password:</label>
    <input type="text" id="userPwd" [(ngModel)]="password" />
</div>
<button type="submit" (click)="Register()">Register</button>